{{- template "base" .}}
{{- define "main"}}
    <section>
        <div class="container">
            <p>
                An example application using Golang.
            </p>
        </div>
    </section>
{{- end}}
